
env:
   global:
     - CONAN_REFERENCE: "open62541/1.0.1"
     - CONAN_USERNAME: "matkonnerth"
     - CONAN_LOGIN_USERNAME: "matkonnerth"
     - CONAN_CHANNEL: "testing"
     - CONAN_UPLOAD: "https://api.bintray.com/conan/matkonnerth/cpprepo"
     - CONAN_REMOTES: "https://api.bintray.com/conan/matkonnerth/cpprepo"
     - CONAN_SKIP_CHECK_CREDENTIALS: 1

linux: &linux
   os: linux
   dist: xenial
   sudo: required
   language: python
   python: "3.6"
   services:
     - docker
matrix:
   include:

      #- <<: *linux
      #  env: CONAN_GCC_VERSIONS=6 CONAN_DOCKER_IMAGE=conanio/gcc6

      #- <<: *linux
      #  env: CONAN_GCC_VERSIONS=7 CONAN_DOCKER_IMAGE=conanio/gcc7

      #- <<: *linux
      #  env: CONAN_GCC_VERSIONS=8 CONAN_DOCKER_IMAGE=conanio/gcc8
      
      - <<: *linux
        env: CONAN_CLANG_VERSIONS=7.0 CONAN_DOCKER_IMAGE=conanio/clang7

      - <<: *linux
        env: CONAN_CLANG_VERSIONS=8 CONAN_DOCKER_IMAGE=conanio/clang8

      #- <<: *linux
      #  env: CONAN_CLANG_VERSIONS=9 CONAN_DOCKER_IMAGE=conanio/clang9

install:
  - chmod +x .travis/install.sh
  - ./.travis/install.sh

script:
  - chmod +x .travis/run.sh
  - ./.travis/run.sh
